# 忽略掉mac电脑的文件
.DS_Store

# 忽略掉idea工程的文件
.idea/

# 忽略掉所有的编译文件
*.class

# 说明：忽略目录 target 下的全部内容；注意，不管是根目录下的 /target/ 目录，还是某个子目录 /child/target/ 目录，都会被忽略；
**/target/*

# 说明：忽略目录 log 下的全部内容；注意，不管是根目录下的 /log/ 目录，还是某个子目录 /child/log/ 目录，都会被忽略；
**/log/*

